# Introduccion

In [2]:
def calculadora(valor1, valor2):
    suma = valor1 + valor2
    resta = valor1 - valor2
    multiplicacion = valor1 * valor2
    division = valor1 / valor2
    return suma

In [3]:
calculadora(3,7)

10

In [4]:
a =calculadora(2,5)
a

7

In [5]:
def calculadora3(valor1, valor2):
    suma = valor1 + valor2
    resta = valor1 - valor2
    multiplicacion = valor1 * valor2
    division = valor1 / valor2
    return suma, resta, multiplicacion, division

In [6]:
calculadora3(30,40)

(70, -10, 1200, 0.75)

In [10]:
w,x,y,z = calculadora3(30,40)
print(z)

0.75

# Parametros

# Ejercicio 1

In [11]:
def cuadrado (x):
    return x * x

In [12]:
cuadrado(5)

25

# Ejercicio 2

In [14]:
def tabla_multiplicar (numero):
    for i in range(1,11):
        print(f"{numero} x {i} = {numero * i}")

In [15]:
tabla_multiplicar(7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
def calculadora4(valor1=1, valor2=1):
    """"
    Entrada : requiere 2 valores numéricos
    Qué hace: suma de los 2 valores ingresados
    Salida: devuelve la suma de esos 2 valores
    """


    print(f"Valor 1: {valor1}")
    print(f"Valor 2: {valor2}")
    suma = valor1 + valor2
    return suma

In [21]:
calculadora4(5,8)

Valor 1: 5
Valor 2: 8

13

# Ejercicio 3

In [ ]:
def millas_a_kilometros(millas=1):
    """
    Convierte millas a kilómetros. 1 milla = 1.60934 kilómetros.
    """
    return millas * 1.60934

In [ ]:
millas_a_kilometros(5)

8.0467

In [26]:
def potencia(base, exponente):
    if exponente == 0:
        return 1
    
    return base * potencia(base, exponente - 1)

In [27]:
potencia(2, 3)

8

In [ ]:
def mcd(a,b):
    if b == 0:
        return a
    else:
        return mcd(b, a % b)

# Lambda

In [24]:
suma = lambda valor1,valor2: valor1 + valor2

In [25]:
suma(7,10)

17